*{
    margin: 0px;
    border: opx;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family:'Poppins' , sans-serif;

}
:root{
    --back-color: #533F3F ;
    --back-color1: #f6e9f3;

    --main-color1:#214151 ;
    --main-color2:#21555e ;
    --main-color3:#2f767a ;
    --main-color4:#51a7a2 ;
    --main-color5:#8ae8d9;

    --ok-color: #008000;
    --ok-color2: #74c476;

    --edit-color: #e36441;
    --edit-color2: #faa308;

    --del-color: #d10000;
    --del-color2:#EB1313 ;
    
    --text-color: #ededed;
    --text-color2: #333; 
    
    font-size: 15px;



}